/* The styling for the parent page element */
.grid-layout {
    margin: 0;              /* Remove the margin to eliminate scroll bars */
    height: 100vh;

    display: grid;          /* Grid allows for setting the template for the page */
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto; /* Grid rows: the top and bottom should grow
                                     or shrink but be auto sized to only be
                                     as tall as needed.  The middle row should
                                     be set to the rest of the available space */
    grid-gap: 0;            /* No gap between items */

    /* Grid template areas define the row and column span for items */
    grid-template-areas:
    "header"
    "content"
    "footer";
}

@media (min-width: 36em) {
    .grid-layout {
        grid-template-columns: 12em auto;

        /* Grid template areas define the row and column span for items */
        grid-template-areas:
        "header header"
        "nav content"
        "footer footer";
    }
}

:root {
    --main-bg-color: white;
    --main-color: black;

    --main-accent: royalblue;
    --light-accent: #CDD7F7;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: var(--main-bg-color);
    color: var(--main-color);

    position: fixed;
}