.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button a {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100%;

    padding: 0.75em 0;

    /* Get rid of default link styling */
    color: var(--main-color);
    text-decoration: none;
}

.nav-button:hover {
    background-color: var(--light-accent);
    transition-duration: 0.25s;
}

.nav-button a img {
    min-width: 60px;
    width: 3em;
    object-fit: cover;
}

.nav-button.selected {
    background-color: var(--main-bg-color);
}

.nav-button:not(.selected) a {
    filter: invert();
}

@media (min-width: 36em) {
    .nav-button a {
        width: 5em;
        padding: 0 0.75em;
    }

    .nav-button a img {
        min-width: 40px;
        width: 2em;
    }
}